{% extends 'base.html' %}
{% load static %}
{% block main %}
    <h1>Cadastro de Aluno</h1>
    <br>
    <form action="">
        <div class="row">
            <div class="col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div class="group">
                            <input type="text" name="cpf" id="id_cpf" required>
                            <label for="id_cpf">CPF</label>
                            <span class="highlight"></span>
							<span class="bar"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="group">
                            <input type="text" name="data_nascimento" id="id_data_nascimento" required>
                            <span class="highlight"></span>
							<span class="bar"></span>
                            <label for="id_data_nascimento">Dt Nascimento</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-row">
                     <div class="form-group col-md-6">
                        <div class="group">
                            <input type="text" name="nome" id="id_nome" required>
                            <span class="highlight"></span>
							<span class="bar"></span>
                            <label for="id_nome">Nome</label>
                        </div>
                    </div>
                     <div class="form-group col-md-6">
                        <div class="group">
                            <input type="text" name="email" id="id_email" required>
                            <span class="highlight"></span>
							<span class="bar"></span>
                            <label for="id_email">E-mail</label>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div class="group">
                            <input type="text" name="rua" id="id_rua" required>
                            <label for="id_rua">Rua</label>
                            <span class="highlight"></span>
							<span class="bar"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="group">
                            <input type="text" name="bairro" id="id_bairro" required>
                            <span class="highlight"></span>
							<span class="bar"></span>
                            <label for="id_nome">Bairro</label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="group">
                            <input type="text" name="cidade" id="id_cidade" required>
                            <span class="highlight"></span>
							<span class="bar"></span>
                            <label for="id_cidade">Cidade</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div class="group">
                            <input type="text" name="estado_uf" id="id_estado_uf" required>
                            <label for="id_estado_uf">UF</label>
                            <span class="highlight"></span>
							<span class="bar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
{% endblock %}